//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18
//Device Version: C
//Created Time: Tue 09 19 11:54:14 2023

IO_LOC "CLK_16" A9;
IO_PORT "CLK_16" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// SPI Port
IO_LOC "MISO" R7;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MOSI" P7;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "CS" M6;
IO_PORT "CS" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SCLK" L8;
IO_PORT "SCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Radio RECONFIG
IO_LOC "RADIO_RECONFIG" C9;
IO_PORT "RADIO_RECONFIG" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;


// SLOT 1. Radio 1-4
IO_LOC "I1[0]" P6;
IO_PORT "I1[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[0]" P15;
IO_PORT "Q1[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[1]" R8;
IO_PORT "I1[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[1]" N15;
IO_PORT "Q1[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[2]" P8;
IO_PORT "I1[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[2]" N14;
IO_PORT "Q1[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[3]" P9;
IO_PORT "I1[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[3]" L14;
IO_PORT "Q1[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;


// Slot 2. Radio 5-8
IO_LOC "I1[4]" P11;
IO_PORT "I1[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[4]" T11;
IO_PORT "Q1[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[5]" K15;
IO_PORT "I1[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[5]" K14;
IO_PORT "Q1[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[6]" R11;
IO_PORT "I1[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[6]" T12;
IO_PORT "Q1[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[7]" J15;
IO_PORT "I1[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[7]" K16;
IO_PORT "Q1[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Slot 3. Radio 9-12
IO_LOC "I1[8]" R12;
IO_PORT "I1[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[8]" P13;
IO_PORT "Q1[8]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[9]" H16;
IO_PORT "I1[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[9]" H14;
IO_PORT "Q1[9]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[10]" R13;
IO_PORT "I1[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[10]" T14;
IO_PORT "Q1[10]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[11]" G16;
IO_PORT "I1[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[11]" H15;
IO_PORT "Q1[11]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Slot 4. Radio 13-16
IO_LOC "I1[12]" M15;
IO_PORT "I1[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[12]" M14;
IO_PORT "Q1[12]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[13]" L13;
IO_PORT "I1[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[13]" K11;
IO_PORT "Q1[13]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[14]" F13;
IO_PORT "I1[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[14]" G12;
IO_PORT "Q1[14]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[15]" K12;
IO_PORT "I1[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[15]" K13;
IO_PORT "Q1[15]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Slot 5. Radio 17-20
IO_LOC "I1[16]" J16;
IO_PORT "I1[16]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[16]" J14;
IO_PORT "Q1[16]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[17]" H13;
IO_PORT "I1[17]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[17]" J12;
IO_PORT "Q1[17]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[18]" G14;
IO_PORT "I1[18]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[18]" G15;
IO_PORT "Q1[18]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[19]" H12;
IO_PORT "I1[19]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[19]" G11;
IO_PORT "Q1[19]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Slot 6. Radio 21-24
IO_LOC "I1[20]" F14;
IO_PORT "I1[20]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[20]" F16;
IO_PORT "Q1[20]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[21]" E15;
IO_PORT "I1[21]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[21]" D14;
IO_PORT "Q1[21]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[22]" A15;
IO_PORT "I1[22]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[22]" B14;
IO_PORT "Q1[22]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

IO_LOC "I1[23]" A14;
IO_PORT "I1[23]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Q1[23]" B13;
IO_PORT "Q1[23]" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
